<!--The content below is only a placeholder and can be replaced.-->



<!-- Top navigation -->
<nav class="navbar justify-content-end navbar-light navbar-expand-lg sticky-top bg-light flex-md-nowrap p-0 shadow">

    <a class="navbar-brand" routerLink="/dashboard" href="#">
      <img src="../../../assets/pics/logo_TMU.png" width="70px" height="auto" class="d-inline-block align-top" alt="">
      TrailMeUp
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  
  <div class="collapse navbar-collapse align-self-end" id="navbarSupportedContent">
  
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#" routerLink="/dashboard/profile">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="authService.SignOut()">Sign Out</a>
      </li>
     
    </ul>
  
  </div>

  </nav>
  
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
  
      <nav class="col-md-2 d-md-block d-none bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
             <!-- Calling SignOut() Api from AuthService -->
             <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/find-routes" >
                  <i class="fas fa-sign-out-alt"></i>Find Routes
                </a>
              </li>
               <!-- Calling SignOut() Api from AuthService -->
            <li class="nav-item" routerLink="/dashboard/run">
                <a class="nav-link" >
                  <i class="fas fa-sign-out-alt"></i>My Routes
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/dashboard/bike">
                <i class="fas fa-user"></i>Bike
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard/run" >
                <i class="fas "></i>Run
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/history" >
                  <i class="fas "></i>History
                </a>
              </li>
          </ul>
        </div>
      </nav>
  
    <router-outlet></router-outlet>
  
    </div>
  </div>
  

