<!-- Main content -->
<main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-4">
<div class="inner-adjust">

    <div class="pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Find Route</h1>
    </div>
    <!-- Show user data when logged in -->
    <div class="row" >
            <div class="col-md-12">
                <div class="media">
                
              
                    <div id="map" #poop ></div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary btn-lg">Save Route</button>
                <button type="button" class="btn btn-primary btn-lg" (click)="findMe()">Find Me</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                 
                <div class="media-body">

                       
                   
                        <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                        <a class="nav-link active" href="#home" id="home-tab" data-toggle="tab" (click)="toggle()" role="tab" aria-controls="home" aria-selected="true">Circular Route</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" href="#profile" data-toggle="tab"  role="tab" (click)="toggle()" aria-controls="profile" aria-selected="false">Destination</a>
                                </li>
                            </ul>
                               <app-circle-route-form  *ngIf="b1isShown" (positionObject)="onFindMe($event)"></app-circle-route-form>
                               <app-straight-shot-form *ngIf="b2isShown"></app-straight-shot-form>
                      
                        
  
                        
                </div>
        </div>
    </div>
</div>
</main>